@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #090917;
    --font: #f3eeee;
    --scrollbar: #e8e5e5;
}

/*scrollbar start*/

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 15px;
}

/*scrollbar end*/

/*focus start*/

a:focus {
    outline: var(--font) 1px solid;
    padding: .5rem;
}

a:focus:not(:focus-visible) {
    outline: none;
    padding: 0;
}

/*focus end*/

body {
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;
    cursor: default;
}

/*navbar start*/

.links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.links ul li {
    display: inline-block;
    list-style: none;
    padding: 1rem;
}

.links ul li a {
    position: relative;
    color: var(--font);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: 350ms ease all;
    -webkit-tap-highlight-color: transparent;
}

.links ul li a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: var(--font);
    transition: 350ms ease;
}

.links ul li.current-page a::before,
.links ul li a:hover::before {
    width: 100%;
    left: 0;
}

.links ul li a:visited {
    color: var(--font);
}

.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: .75rem;
    left: 1rem;
    height: 2rem;
    width: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    z-index: 15;
}

.bars {
    position: relative;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
}

.bars::before,
.bars::after {
    content: '';
    position: absolute;
    height: 70%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--font);
    transition: 350ms ease;
}

.bars::before {
    transform: translateY(-4px);
}

.bars::after {
    transform: translateY(4px);
}

.wrapper.active .hamburger-menu .bars::before {
    transform: translateY(0) rotate(45deg);
}

.wrapper.active .hamburger-menu .bars::after {
    transform: translateY(0) rotate(-45deg);
}

/*navbar end*/

/*gallery start*/

.wrapper {
    padding-bottom: 2rem;
}

.gallery {
    width: 85%;
    height: auto;
    margin: 80px auto 0;
    max-width: 1400px;
}

.img-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .8rem;
}

.img-wrapper img {
    display: block;
    border: var(--font) solid 1px;
    width: 100%;
    height: auto;
}

.img-container {
    position: relative;
}

.img-container .overlay {
    border: var(--font) solid 1px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: var(--background);
    padding: .25rem;
    color: var(--font);
}

.img-container .overlay p {
    font-size: clamp(.95rem, 3vw, 1rem);
    text-transform: uppercase;
    letter-spacing: 3px;
}

/*gallery end*/

/*media query's start*/

@media screen and (max-width: 1368px) and (hover: none) and (pointer: coarse) {
    .no-scroll {
        overflow-y: hidden;
    }
	
    .wrapper.active .links {
        transform: translateX(0);
    }
	
    .wrapper.active .overlay {
        opacity: 1;
        pointer-events: all;
    }
	
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: var(--background);
        transform: translateY(-100%);
        transition: 300ms;
        overflow-y: auto;
        z-index: 15;
    }
	
    .links ul li {
        display: flex;
        flex-direction: column;
        padding: 1.75rem;
    }
	
    .links ul li a {
        color: var(--font);
    }
	
    .links ul li a::before {
        content: none;
    }
	
    .hamburger-menu {
        display: flex;
    }
	
    nav .overlay {                               
        display: block;
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, .7);
        opacity: 0;
        pointer-events: none;
        transition: 300ms;
        z-index: 10;
    }
}
@media screen and (max-width: 430px) {
    .gallery {
        width: 90%;
    }
	
    .img-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width: 431px) and (max-width: 916px) {
    .gallery {
        width: 90%;
    }
	
    .img-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
/*media query's end*/